/* Default
    
    Colors
    background - #F3F2EF
    pale-brown - #E3D6C5
    dark-brown - #4E1700

    Font - Roboto Slab
*/

/* ---------- Basic Structure ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

html {
  color: #4e1700;
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  cursor: url("img/cursor/default.png"), default;
}

a {
  color: #4e1700;
  cursor: url("img/cursor/pointer.png"), pointer;
}

/* ---------- PreLoader ---------- */
#preloader {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#preloader img {
  width: 15%;
}

#preloader h1 {
  font-size: 400%;
}

#gif {
  background-image: url("../img/preloader/Ellipsis-1.6s-200px.gif");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 17%;
  height: 17%;
}

/* ---------- Home ---------- */
.container {
  padding: 10px 3%;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
}

h1 {
  margin: 0;
  font-weight: 400;
  font-size: 250%;
  text-shadow: #e3d6c5 4px 4px;
  text-transform: capitalize;
  text-align: center;
  font-family: "Rochester", "cursive";
}

.home-row {
  height: auto;
}

.home-col {
  height: auto;
  position: relative;
}

/* ---------- Button ---------- */

.windows-btn-container {
  display: flex;
  -moz-column-gap: 7px;
  column-gap: 7px;
}

.windows-btn {
  display: inline-flex;
  border: #4e1700 solid 2px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  box-shadow: #4e1700 1px 1px;
}

.mini-btn,
.close-btn-1,
.close-btn-2 {
  width: 60%;
  height: 2px;
  background-color: #4e1700;
}

.max-btn {
  width: 55%;
  height: 55%;
  border: #4e1700 solid 2px;
}

.close-btn {
  font-size: 80%;
  transform: translateX(1px);
}

/* ---------- Toast Alert Box ---------- */
.toast-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 99;
  transition: all 0.5s ease-out;
}

.bannerAndBody {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  width: 50%;
  border: #4e1700 solid 3px;
  border-radius: 5px;
  box-shadow: #4e17006b 0 4px 10px;
}

.toast-banner {
  background-color: hsla(34, 35%, 83%, 0.7);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.toast-parent {
  background-color: hsla(45, 14%, 95%, 0.7);
  text-align: left;
  padding: 15px;
}

/* ---------- Pop-up Box ---------- */
.pop-up-box {
  background-color: #f3f2ef;
  width: 74%;
  height: auto;
  border: solid 2px #4e1700;
  border-radius: 5px;
  box-shadow: #4e1700 6px 6px;
  margin: 15px auto;
  position: relative;
}

h3 {
  font-weight: 400;
  font-size: 90%;
  text-transform: uppercase;
}

/* Pop-up Banner */

.box-banner {
  padding: 1% 2%;
  background-color: #e3d6c5;
  border-bottom: #4e1700 solid 2px;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---------- Timer Box ---------- */

.setting-btn {
  background-color: transparent;
  border: none;
  cursor: url("img/cursor/pointer.png"), pointer;
  position: absolute;
  right: 2%;
  margin-top: 2%;
}

.setting-btn i {
  color: #4e1700;
  font-size: 120%;
}

.setting-activated {
  transform: rotate(30deg);
}

/* Time */
#secs {
  display: none;
}

/* Timer */
.timer-container {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-between;
  padding: 10% 5% 3%;
  align-items: center;
}

.timer-btn-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.timer-clock {
  font-size: 330%;
  letter-spacing: 10px;
}

.start-btn {
  background-color: #f3f2ef;
  border: solid 2px #4e1700;
  padding: 6px 15px;
  border-radius: 25px;
  color: #4e1700;
  text-transform: uppercase;
  font-size: 70%;
  letter-spacing: 2px;
  cursor: url("img/cursor/pointer.png"), pointer;
}

.start-btn:hover,
.start-btn:active {
  background-color: #e3d6c5;
}

.redo-btn {
  background-color: transparent;
  border: none;
  color: #4e1700;
  font-size: 120%;
  cursor: url("img/cursor/pointer.png"), pointer;
  transition: all 0.2s;
}

.reset-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#round-counter {
  font-size: 60%;
  color: #4e1700;
  margin-top: 5px;
  font-weight: bold;
}

/* Tabs */
.tabs-container {
  display: flex;
  justify-content: space-evenly;
  border-top: solid #4e1700 2px;
}

.tabs-container button {
  font-weight: 400;
  text-align: center;
  width: 100%;
  border: none;
  font-family: "Roboto Slab", Georgia, serif;
  text-transform: uppercase;
  font-size: 70%;
  text-decoration: none;
  letter-spacing: 2px;
  color: #4e1700;
  padding: 2.5% 0;
  cursor: url("img/cursor/pointer.png"), pointer;
}

/* Tab Btns */
.tab-selected,
.tab-btn:hover,
.tab-btn:active {
  background-color: #e3d6c5;
}

/* ---------- Timer Settings Box ---------- */

.timer-setting-box {
  display: none;
  position: absolute;
  top: 0;
  left: 78%;
  width: 40%;
  font-size: 78%;
  z-index: 99;
}

.timer-setting-box .windows-btn {
  width: 23px;
  height: 23px;
  font-size: 120%;
  cursor: url("img/cursor/pointer.png"), pointer;
}

.timer-setting-box .box-banner {
  padding: 2%;
}

.timer-setting-body {
  padding: 6% 5% 3%;
}

.timer-setting-list {
  width: auto;
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
  align-items: center;
  letter-spacing: 0;
  list-style: none;
  font-size: 90%;
}

.timer-setting-list div {
  width: 55%;
}

.timer-setting-list input {
  max-width: 50px;
  background-color: #e3d6c5;
  color: #4e1700;
  border: #4e1700 solid 1px;
  border-radius: 5px;
  padding: 2% 4%;
}

.apply-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#apply-btn {
  background-color: #e3d6c5;
  color: #4e1700;
  border: #4e1700 solid 1px;
  border-radius: 5px;
  padding: 2% 7%;
  margin-top: 8%;
  text-transform: uppercase;
  font-size: 90%;
  letter-spacing: 1px;
  cursor: url("img/cursor/pointer.png"), pointer;
}

#apply-btn:hover,
#apply-btn:active {
  background-color: #d8c0a2;
}

/* ---------- To-Do-List Box ---------- */

.to-do-list-box .pop-up-box {
  height: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.plus-btn {
  width: auto;
  height: auto;
  padding: 2%;
  background-color: #e3d6c5;
  border: none;
  font-size: 200%;
  color: #4e1700;
  position: absolute;
  bottom: 9px;
  right: 9px;
  cursor: url("img/cursor/pointer.png"), pointer;
  display: flex;
  z-index: 10;
  /* Ensure above scroll */
}

.plus-btn img {
  width: 20px;
}

.to-do-list-content {
  padding: 6%;
  padding-bottom: 60px;
  /* Extra space for plus button */
  flex: 1;
  overflow-y: auto;
  /* Scrollbar Styling */
  scrollbar-color: #4e1700 #f3f2ef;
  scrollbar-width: thin;
}

.to-do-list-content::-webkit-scrollbar {
  width: 8px;
}

.to-do-list-content::-webkit-scrollbar-track {
  background: #f3f2ef;
}

.to-do-list-content::-webkit-scrollbar-thumb {
  background: #4e1700;
  border-radius: 4px;
}

.to-do-list-content::-webkit-scrollbar-thumb:hover {
  background: #6e2700;
}

/* Task List */
.task-list {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
  margin: 5% 0;
}

.task-list:first-child {
  margin-top: 0;
}

.task-list:last-of-type {
  margin-bottom: 10%;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  outline: solid #4e1700 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("img/cursor/pointer.png"), pointer;
}

input[type="checkbox"]:checked:after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("img/tick.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.task-lable-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  border-bottom: #4e1700 solid 1.5px;
  margin-left: 9px;
}

.task-input {
  width: 60%;
  color: #4e1700;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 80%;
  letter-spacing: 1.5px;
  resize: none;
  /* Disable manual resize */
  overflow: hidden;
  /* Hide scrollbar */
  font-family: inherit;
  height: 25px;
  /* Initial height */
  padding-top: 2px;
  /* Alignment */
}

.task-input::-webkit-input-placeholder {
  color: #9b624b;
}

.task-input::-moz-placeholder {
  color: #9b624b;
}

.task-input:-ms-input-placeholder {
  color: #9b624b;
}

.task-input::-ms-input-placeholder {
  color: #9b624b;
}

.task-input::placeholder {
  color: #9b624b;
}

.task-input::-moz-selection {
  background: #e3d6c5;
}

.task-input::selection {
  background: #e3d6c5;
}

.hasChecked {
  text-decoration: line-through;
}

.timeInputBtn {
  cursor: url("img/cursor/pointer.png"), pointer;
  display: flex;
  flex-direction: row;
  float: left;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  font-size: 80%;
  color: #4e1700;
}

.remove-btn {
  display: flex;
  flex-direction: row;
  font-size: 85%;
  cursor: url("img/cursor/pointer.png"), pointer;
}

/* ---------- Musics ----------  */
.music-row {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-mood-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 6%;
  column-gap: 6%;
  row-gap: 30px;
  justify-content: center;
}

.mood-container {
  text-align: center;
}

.icon-box {
  background-color: #f3f2ef;
  width: 65px;
  height: 65px;
  border: solid 2px #4e1700;
  border-radius: 5px;
  position: relative;
  cursor: url("img/cursor/pointer.png"), pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box:hover {
  background-color: #f3edd7b0;
}

.mood-label {
  position: relative;
  bottom: 0%;
  text-transform: capitalize;
  font-size: 75%;
  letter-spacing: 1px;
  cursor: url("img/cursor/default.png"), default;
}

.mood-selected::before {
  content: "";
  background-image: url("../img/sync.svg");
  background-repeat: no-repeat;
  background-color: #f3f2efb0;
  background-position: center;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transform: scale(3.1) rotate(30deg);
}

/* ---------- Volume Slider ----------  */
.volume-slider-container {
  width: 90%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#volumeSlider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 3px;
  border-radius: 2px;
  background-color: #4e1700;
  cursor: url("img/cursor/default.png"), default;
}

#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  background-color: #4e1700;
  border-radius: 100%;
  cursor: url("img/cursor/grab.png"), -webkit-grab;
  cursor: url("img/cursor/grab.png"), grab;
}

#volumeSlider::-webkit-slider-thumb:active {
  cursor: url("img/cursor/grabbing.png"), -webkit-grabbing;
  cursor: url("img/cursor/grabbing.png"), grabbing;
}

.audioIcon {
  margin: 0 15px;
  font-size: 30px;
  cursor: url("img/cursor/pointer.png"), pointer;
}

.playPauseBtn {
  width: 13%;
}

.fa-pause {
  display: none;
}

/* ---------- Quote ----------  */
.quote-container::before {
  content: url(../img/quote-left.svg);
  transform: scale(0.8);
  background-color: #f3f2ef;
  position: absolute;
  top: -40px;
  left: -35px;
}

.quote-container {
  margin: 50px auto 0;
  background-color: #f3f2ef;
  text-align: center;
  line-height: 40px;
  border: solid 2px #4e1700;
  border-radius: 5px;
  box-shadow: #4e1700 6px 6px;
  padding: 7%;
  min-width: 60%;
  width: auto;
  max-width: 90%;
  position: relative;
}

.refresh-quote-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 90%;
}

.quoteClass {
  line-height: 30px;
}

.authorClass {
  font-size: 80%;
}

/* ---------- Full Screen btn ---------- */

.full-screen-btn,
.exit-full-screen-btn {
  background-color: transparent;
  border: none;
  position: fixed;
  right: 2%;
  bottom: 2%;
  cursor: url("img/cursor/pointer.png"), pointer;
  z-index: 998;
}

.full-screen-btn i,
.exit-full-screen-btn i {
  color: #4e1700;
  font-size: 150%;
}

.exit-full-screen-btn {
  display: none;
}

.signature {
  position: fixed;
  bottom: 2%;
  left: 2%;
}

/* ---------- Custom Time Picker Dropdown ---------- */
.time-picker-dropdown {
  position: absolute;
  /* Positioned by JS */
  width: 180px;
  background-color: #faf8f5;
  border: 2px solid #4e1700;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(78, 23, 0, 0.3);
  z-index: 1000;
  overflow: hidden;
}

.time-picker-body {
  display: flex;
  justify-content: center;
  height: 150px;
  position: relative;
  background-color: transparent;
}

.picker-column {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  text-align: center;
  /* Hide scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 55px;
  /* (150 - 40) / 2 */
  padding-bottom: 55px;
  z-index: 2;
}

.picker-column::-webkit-scrollbar {
  display: none;
}

.picker-item {
  height: 40px;
  line-height: 40px;
  scroll-snap-align: center;
  color: #4e1700;
  /* Dark brown default */
  font-size: 1.1rem;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s, font-weight 0.2s;
}

.picker-item.selected {
  color: #4e1700;
  font-weight: bold;
  font-size: 1.3rem;
  opacity: 1;
}

/* Highlight bar in the middle */
.picker-highlight {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 40px;
  transform: translateY(-50%);
  background-color: #e3d6c5;
  /* Beige accent */
  border-top: 1px solid #4e1700;
  border-bottom: 1px solid #4e1700;
  pointer-events: none;
  z-index: 1;
}

/* Time Button Style (reused/adjusted) */
.time-display-btn {
  background: transparent;
  border: 1px solid #4e1700;
  border-radius: 4px;
  padding: 2px 8px;
  cursor: pointer;
  color: #4e1700;
  font-family: inherit;
  font-size: 0.9rem;
  min-width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
  /* Reduced from default or previous implicit values */
}

.time-display-btn:hover {
  background-color: #e3d6c5;
}

/* Ensure buttons don't wrap */
.task-btns-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

/* ---------- Time Button Style (Native) ---------- */
.timeInputBtn {
  cursor: url("img/cursor/pointer.png"), pointer;
  display: flex;
  flex-direction: row;
  float: left;
  margin-right: 10px;
  border: 1px solid #4e1700;
  border-radius: 4px;
  background-color: transparent;
  /* or #e3d6c5 */
  font-size: 80%;
  color: #4e1700;
  font-family: inherit;
  padding: 2px 5px;
}

.timeInputBtn:hover {
  background-color: #e3d6c5;
}

/* Color the clock icon in the input (Webkit only) */
.timeInputBtn::-webkit-calendar-picker-indicator {
  filter: invert(16%) sepia(29%) saturate(4643%) hue-rotate(345deg)
    brightness(97%) contrast(105%);
  /* Tries to match #4e1700 */
  cursor: url("img/cursor/pointer.png"), pointer;
}

/* ---------- Drag Handle for To-Do List ---------- */
.drag-handle {
  color: #9b624b;
  font-size: 90%;
  cursor: url("img/cursor/grab.png"), grab;
  padding: 5px;
  margin-right: 5px;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.drag-handle:hover {
  opacity: 1;
}

.drag-handle:active {
  cursor: url("img/cursor/grabbing.png"), grabbing;
}

/* Sortable states */
.sortable-ghost {
  opacity: 0.4;
  background-color: #e3d6c5;
  border-radius: 4px;
}

.sortable-chosen {
  background-color: #faf8f5;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(78, 23, 0, 0.2);
}

.sortable-drag {
  opacity: 1;
  background-color: #f3f2ef;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(78, 23, 0, 0.3);
}
